{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-4.6.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/one.css' %}">
</head>
<body>

<h3 class="error_msg">{{ msg_info }}</h3>
<div class="container col-4" style="text-align: center; padding: 100px 0;">
    <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
    <div class="card align-items-center justify-content-center">
        <div class="card-header col-md-8">
            <h2>新用户注册</h2>
        </div>
        <div class="card-body">
            <form id="register_form" action="{% url 'author:register' %}" method="post">
                {% csrf_token %}
                <div id="one" class="form-group row">
                    <label for="username" class="col-form-label">帐号</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="username" id="username" placeholder="请输入帐号">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-form-label">密码</label>
                    <div class="col-md-8">
                        <input type="password" class="form-control" name="password" id="password" placeholder="请输入密码">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="realname" class="col-form-label">姓名</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="realname" id="realname" placeholder="请输入姓名">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="nickname" class="col-form-label">昵称</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" name="nickname" id="nickname" placeholder="请输入nicheng">
                    </div>

                </div>

                <div class="form-group row">
                    <label for="sex" class="col-form-label">性别</label>
                    <div class="col-md-8">
                        <select class="custom-select" name="sex" id="sex">
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="age" class="col-form-label">年龄</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" name="age" id="age">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-form-label">邮箱</label>
                    <div class="col-md-8">
                        <input type="email" class="form-control" name="email" id="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-form-label">电话</label>
                    <div class="col-md-8">
                        <input type="tel" class="form-control" name="phone" id="phone">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="status" class="col-form-label">状态</label>
                    <div class="col-md-8">
                        <select name="status" class="form-control" id="status">
                            <option value="0">正常</option>
                            <option value="1">锁定</option>
                            <option value="2">删除</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-primary col-md-8">注 册</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>